img[src*="kazrose"] {
    vertical-align: -5px;
}
rose::before, bigrose::before {
    content: "・";
    font-size: 12px;
    vertical-align:middle;
}
rose::after, bigrose::after {
    content: "・";
    font-size: 12px;
    vertical-align:middle;
}
rose, bigrose {
    display: inline-block;
    height: auto;
    background-image: url('https://tinyurl.com/kazrose');
    background-size: contain;
    background-repeat: no-repeat;
}
bigrose::before {
    margin-left: -5px;
}
bigrose::after {
    margin-left: 8px;
    margin-right: -5px;
}
bigrose {
    height: auto;
}