/* S'applique à TOUS les éléments du forum*/
* {
box-sizing: border-box; /*évite que les éléments soient agrandis par le padding*/
-webkit-text-size-adjust: 100%;
}

/*** TOUTES LES PAGES --------------- ***/
body {
background: var(--background);
background-attachment: fixed;
font-family: var(--font);
font-size: var(--normal-size);
color: var(--textColor1);
margin: 0 !important;
}
#container {
    padding-bottom: 5px;
}
img {
    object-fit: cover;
}

/* SCROLLBAR --- */
@-moz-document url-prefix() {
    * {
        scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
        scrollbar-width: thin;
  }
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--accent1);
}

/* STRUCTURE PRINCIPALE ---*/
.main_forum {
width: var(--forum);
margin: var(--top) auto 0px auto;
background: var(--neutral2);
padding-bottom: 10px;
}

/* BANNIERE ---*/
#top-header {
    z-index: 990;
    background: var(--neutral1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width:var(--forum);
    height: var(--top);
}
#top-header-left {
    display: flex;
    align-items: center;
}
#top-header-right {
    display: flex;
    align-items: center;
}
#top-header-avatar{
    position: absolute;
    margin-left: -40px;
    margin-top: 5px;
}
#top-header-avatar>a>img,
#top-header-avatar>img {
    border-radius: 100%;
    border: var(--inner-border);
    outline: var(--border2);
    height: 70px;
    width: 70px;
}
#top-header-avatar>a{
    display: block;
    width: 0px;
}
#top-header-texte {
    margin-left: 52px;
}
#top-header-user {
color: var(--textColor1);
font-size: 24px;
font-family: var(--font2);
text-transform: lowercase;
}
#top-header-icons {
display: flex;
align-items: center;
margin-right: 10px;
}
.menu-icon {
    font-size: 23px;
    cursor: pointer;
    transition: var(--transition);
    text-shadow: var(--text-shadow);
    margin-left: 10px;
}
.menu-icon:hover,
.menu-icon.active{
    color:var(--hoverColorBase);
}
.icon.light {
    font-size: 18px;
}
.icon.dark {
    font-size: 16px;
}
.acc-icons {
z-index: 10;
background: var(--neutral2);
position: absolute;
border-radius: 100%;
border: var(--border);
height: 25px;
width: 25px;
font-size: 14px;
padding: 5px 5px;
margin: 53px 0 0 7px;
color: var(--textColor1);
}

#header-wrap {
    padding: var(--pad-wrap);
}

#header {
background-image: var(--header);
background-position: center;
background-repeat: no-repeat;
background-size: auto;
width: calc(var(--forum)-var(--pad-wrap));
height: 500px;
display: block;
border-radius: 10px;
filter: var(--brightness-header);
}

/* Conteneur de toutes les sous-sections
* comme les encadrés d'options, de rappel, etc... */
.panel {
background: var(--neutral1);
border-radius: 5px;
margin: 25px 10px;
padding: 10px;
}

.sidebar {
position: fixed;
inset: 0;
width: max-content;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 15px 10px;
margin-top: 100px;
z-index: 999;
}

/* Conteneur de switcheroo */
.sidebar_top {
display: flex;
flex-direction: column;
gap: 10px;
}

/* Conteneur de l'ascenseur
* Sert essentiellement à définir où le placer dans la page */
.sidebar_bottom {
width: 25px;
display: flex;
flex-direction: column;
gap: 5px;
right: 0;
bottom: 0;
position: fixed;
margin-bottom: 10px;
margin-right: 10px;
}

/* Lien de renvoi haut/bas */
.sidebar_bottom>a {
padding: 5px 8px;
border-radius: 5px;
text-align: center;
color: var(--textColor3);
}

/* BOUTON CHANGEMENT DE THEME ---*/
@media (prefers-color-scheme: dark) {
.color-scheme-toggle .dark {
    display: none;
}
}

@media (prefers-color-scheme: light) {
.color-scheme-toggle .light {
    display: none;
}
}

.color-scheme-toggle,
[data-color-scheme="light"] .color-scheme-toggle .dark,
[data-color-scheme="dark"] .color-scheme-toggle .light {
display: flex;
width: 100%;
}

[data-color-scheme="dark"] .color-scheme-toggle .dark,
[data-color-scheme="light"] .color-scheme-toggle .light {
display: none;
}

.color-scheme-toggle {
background: none;
text-align: center;
border-radius: 5px;
color: var(--textColor1);
transition: var(--transition);
}
.color-scheme-toggle:hover {
color: var(--hoverColorBase);
}

/* Emoji mis par défaut de FA
* Les réduire les rend moins horribles à voir */
.emojione {
width: 19px !important;
}

/*** BOUTONS D'INTERACTION ET BARRE DE TEXTE ***/

.forumline {
background: var(--neutral1);
border-radius: 5px;
}

/* CHAMPS DE TEXTE ---*/
input:is([type="text"], [type="password"], .inputbox),
textarea {
background: var(--neutral2);
border: var(--border);
border-radius: 5px;
font-size: var(--normal-size);
color: var(--textColor1) !important;
padding: 5px 10px;
width: 80%;
}

/* BOUTONS D'INTERACTION --- *
* Envoyer, prévisualiser, sauvegarder, aller,... */
input:is([type="submit"], [type="button"], [type="hidden"], [type="reset"]),
.button, #tabs li {
    padding: 7px 15px !important;
    background: var(--neutral2);
    color: var(--textColor1);
    font-weight: 600;
    border-radius: 5px;
    border: var(--border);
    font-family: var(--font3);
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/* Au survol */
:hover:is(input:is([type="submit"], [type="button"], [type="hidden"], [type="reset"]), .button, #tabs li) {
color: var(--hoverColorBase);
transition: var(--transition);
}

/* Boutons désactivés */
:disabled:is(input:is([type="submit"], [type="button"], [type="hidden"], [type="reset"]), .button) {
opacity: .5;
filter: saturate(1);
cursor: not-allowed;
}

:disabled:hover:is(input:is([type="submit"], [type="button"], [type="hidden"], [type="reset"]), .button) {
color: inherit;
}

.submit-buttons {
text-align: center;
}

.mod-topic {
display: flex;
justify-content: space-between;
padding: 0 15px;
}
.quickmod {
margin-bottom: 20px;
}
.mod-icons {font-size: 28px;}

/* MENUS DEROULANTS --- */
select {
background: var(--neutral1);
border: var(--border);
border-radius: 5px;
font-size: var(--normal-size);
padding: 5px 10px;
color: var(--textColor1);
}

select:focus-visible {
outline: 1px solid var(--accentClr);
}

/*** EDITEUR DE TEXTE -------------- ***/
/* Editeur de texte */
.sceditor-container {
border: var(--border) !important;
background-color: var(--neutral2) !important;
}

/* Barre d'outils de l'éditeur de texte*/
div.sceditor-toolbar {
background: var(--neutral2) !important;
border-bottom: var(--border) !important;
}

/* Conteneur des groupes d'outils */
div.sceditor-group {
background: var(--neutral2) !important;
border-bottom: none !important;
}

/* Bouton d'un outil */
a.sceditor-button {
height: 26px !important;
/*ne pas retirer*/
width: 26px !important;
/*ne pas retirer*/
}
/*basculer mode d'edition*/
a.sceditor-button.sceditor-button-source {
    display: none;
}

/* Bouton d'un outil au survol ou actif*/
.sceditor-button.active,
.sceditor-button:active,
.sceditor-button:hover,
.sceditor-button.hover {
background: var(--neutral3) !important;
box-shadow: none !important;
border: none !important;
outline: var(--border);
}

/* Conteneur de la zone de texte */
.sceditor-container iframe,
.sceditor-container textarea {
background-color: var(--neutral2) !important;
/*ne pas supprimer*/
width: 100% !important;
margin: 0 !important;
padding: 10px !important;
/*ne pas supprimer*/
min-height: 250px !important;
}

.sceditor-container textarea:focus {
outline: none
}

/*Boîte Smiley*/
iframe[name="smilies"] {
border: var(--border);
border-radius: 5px;
background: var(--neutral2);
height: 403px;
}

html#sceditor_smilies,
body#sce_smilies_body {
background: var(--neutral2) !important;
padding: 5px;
}

#postingbox {padding:0}

#list_dice input {width:initial;}

/*** PAGINATIONS -------------------- ***/
.pagination {}

/*lien unique vers les pages numérotées*/
.pagination span a {
}

/*survol des liens uniques des pages*/
.pagination span a:hover {
font-weight: 600;
}

/*lien actif : page sur laquelle vous vous trouvez */
.pagination span strong {
color: var(--accent2);
font-weight: 600;
}

/*suppression de l'image-lien "aller à la page suivante" */
.page-topic span a:last-child,
.pag-img {
display: none;
}