{JAVASCRIPT}

<!----------------------------------------------->
<!-- CONNEXION RAPIDE (haut) -------------->


<!-- BEGIN switch_user_login_form_header -->
<div class="panel">
    <form action="{S_LOGIN_ACTION}" method="post" name="form_login">
        <div class="user_login_form center">
            <!-- Nom utilisateur -->
            <label>{L_USERNAME} : <input class="post" type="text" size="10" name="username" /></label> &nbsp;

            <!-- Mot de passe -->
            <label>{L_PASSWORD} : <input class="post" type="password" size="10" name="password" /></label> &nbsp;

            <!-- Check : connexion automatique -->
            <label>{L_AUTO_LOGIN} : <input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} /></label> &nbsp;

            <!-- Bouton connexion -->
            {S_HIDDEN_FIELDS}<input class="mainoption button1" type="submit" name="login" value="{L_LOGIN}" />


        </div>
    </form>
</div>
<!-- END switch_user_login_form_header -->


<!----------------------------------------------->
<!-- PAGE D'ACCUEIL -------------->


<!-- BEGIN message_admin_index -->
<div class="panel introduction">

    <!-- Titre de la PA -->
    <!-- BEGIN message_admin_titre -->
    <div class="h3">{message_admin_index.message_admin_titre.MES_TITRE}</div>
    <!-- END message_admin_titre -->

    <!-- Contenu de la PA -->
    <!-- BEGIN message_admin_txt -->
    <div class="mes-txt">{message_admin_index.message_admin_txt.MES_TXT}</div>
    <!-- END message_admin_txt -->
</div>
<!-- END message_admin_index -->


<!----------------------------------------------->
<!-- CB (si affichée en haut) -------------->

{CHATBOX_TOP}


<!----------------------------------------------->
<!-- CATEGORIES -------------->
<!-- (template : index_box) -->

{BOARD_INDEX}


<!----------------------------------------------->
<!-- QUI EST EN LIGNE -------------->

<!-- BEGIN disable_viewonline -->
<div id="qeel-head" class="cate_title">
    <h2>What feasts at night</h2>
    <div class="cate_quote">— beware the witching hour —</div>
</div>

<div class="qeel-wrap">
    <div class="qeel-header"></div>
    
    <div class="qeel-content">

        <div class="qeel-left">
            <div class="qeel-stats box2">
                Les ombres de Vienne retiennent <span id="qeel_members">{TOTAL_USERS}</span> habitant·es ayant laissé <span id="qeel_posts">{TOTAL_POSTS}</span> missives.
                &nbsp;Actuellement, <span id="total_users">{TOTAL_USERS_ONLINE}</span>.
            </div>
            
            <div id="online_users" class="box2">
                {LOGGED_IN_USER_LIST}
            </div>
        </div>
        

        <div class="qeel-mid">
            <div class="qeel-avatar-wrap">
                <div id="last_user" class="newest-frame">
                  <span id="lastuser_avatar"></span>
                </div>
              </div>
            <div class="newest-text-wrap">
                <div id="newest_user">{NEWEST_USER}</div>
                <div class="newest-text">ARRIVE FRAÎCHEMENT À VIENNE</div>
            </div>
        </div>
        

        <div class="qeel-right">
            <div id="last_connected" class="box2">
                {L_CONNECTED_MEMBERS}
            </div>
            <div class="credits box2">
                — Blood and Malice est une propriété d'Ellaenys et Nyxeia. Graphisme par Ellaenys. Codage par Nyxeia à l'aide du Blank Theme de Geniuspanda. Design optimisé pour Chrome. 
                <a style="font-weight:600;" href="https://bloodandmalice.forumactif.com/t34-04-derriere-le-voile#70" target="_blank">Voir les crédits complets</a>.
            </div>
        </div>
    </div>
    

    <div class="qeel-groups">
        <div class="group group-1">
            <div class="box-count box2" id="stats-vampires">00</div>
            <div class="group-name box2"><a href="https://bloodandmalice.forumactif.com/g3-vampires">VAMPIRES</a></div>
        </div>
        <div class="group group-2">
            <div class="box-count box2" id="stats-sorciers">00</div>
            <div class="group-name box2"><a href="https://bloodandmalice.forumactif.com/g4-sorciers">SORCIER·ES</a></div>
        </div>
        <div class="group group-3">
            <div class="box-count box2" id="stats-spectres">00</div>
            <div class="group-name box2"><a href="https://bloodandmalice.forumactif.com/g5-spectres">SPECTRES</a></div>
        </div>
        <div class="group group-4">
            <div class="box-count box2" id="stats-humains">00</div>
            <div class="group-name box2"><a href="https://bloodandmalice.forumactif.com/g6-humains">HUMAIN·ES</a></div>
        </div>
    </div>
</div>


<!-- Changement de texte des informations du QEEL -->
<script type="text/javascript">
  $("#newest_user").html($("#newest_user").html().replace("L'utilisateur enregistré le plus récent est", ""));
  
  $("#qeel_posts").html($("#qeel_posts").html().replace("Nos membres ont posté un total de", ""));
  
  $("#qeel_members").html($("#qeel_members").html().replace("Nous avons", ""));
  $("#qeel_members").html($("#qeel_members").html().replace("membres enregistrés", ""));
  $("#qeel_posts").html($("#qeel_posts").html().replace("messages", ""));
  
  $("#online_users").html($("#online_users").html().replace("Utilisateurs enregistrés", "En ligne"));
  
  $("#last_connected").html($("#last_connected").html().replace("Membres connectés au cours des 48 dernières heures :", "Les dernières 48h :"));
</script>


<!-- Conteneur des infos CB -->
<!-- BEGIN switch_chatbox_activate -->
  
  <div class="panel">
      <!-- Nom de la CB -->
      <div class="h3"><a href="{S_JOIN_CHAT}" target="ChatBox">{CHATBOX_NAME}</a></div>
  
      <!-- Nombre et liste des connectés sur la CB -->
      {TOTAL_CHATTERS_ONLINE}&nbsp;:&nbsp;{CHATTERS_LIST}<br />
  
      <!-- BEGIN switch_chatbox_popup -->
      <!-- Lien pour rejoindre la CB -->
      <div id="chatbox_popup"></div>
      <script type="text/javascript">
          insertChatBoxPopup('{disable_viewonline.switch_chatbox_activate.switch_chatbox_popup.U_FRAME_CHATBOX}', '{L_CLICK_TO_JOIN_CHAT}');
  
      </script>
      <!-- END switch_chatbox_popup -->
    
  </div>
<!-- END switch_chatbox_activate -->
<!-- Fin des infos CB -->


<!-- END disable_viewonline -->
<!-- Fin du QEEL -->

<!----------------------------------------------->
<!-- CB (si affichée en bas) -------------->
{CHATBOX_BOTTOM}



{AUTO_DST}
            