<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>

<!----------------------------------------------->
<!-- LISTE DES MEMBRES -------------->

<div class="container">

    <!-- Titre de la liste des membres -->
    <div class="membres cate_title"><h2>liste des membres</h2>
    <div class="cate_quote">— paint the town red —</div></div>

    <!-- filtres -->
    <div class="filtres">

        <div class="filters">
            <div class="ui-group">
                <h3>Filtrer par groupe</h3>
                <div class="button-group js-radio-button-group" data-filter-group="groupe">
                    <button class="button is-checked" data-filter="">Tous</button>
                    <button class="button" data-filter=".vampires">Vampires</button>
                    <button class="button" data-filter=".sorciers">Sorcier·es</button>
                    <button class="button" data-filter=".spectres">Spectres</button>
                    <button class="button" data-filter=".humains">Humain·es</button>
                </div>
            </div>
        </div>
        <div class="sorts">
            <h3>Ranger par</h3>
            <div class="button-group sort-by-button-group">
                <button class="button is-checked" data-sort-by="original-order">Dernière co.</button>
                <button class="button" data-sort-by="pseudo">Nom du perso</button>
                <button class="button" data-sort-by="humeur">Alias</button>
                <button class="button" data-sort-by="messages">Messages</button>
                <button class="button" data-sort-by="inscription">Inscription</button>
            </div>
        </div>
        <div class="namesearch"><h3>Chercher par nom</h3><p><input type="text" class="quicksearch" placeholder="Nom du personnage"></p></div>

        <div class="croiss">
            <h3>Ordre</h3>
            <div class="button-group croiss-group">
                <button class="button" data-order="true">Croissant</button>
                <button class="button is-checked" data-order="false">Décroissant</button>
            </div>
        </div>
    </div>


    <!-- Liste des membres -->
    <div class="userlist">

        <!-- Affichage d'un profil -->
        <!-- BEGIN memberrow -->
        <div class="userlist_profil">

                <!-- Pseudo -->
                <div class="userlist_header">
                <div class="userlist_pseudo">
                    <a href="{memberrow.U_VIEWPROFILE}" class="userlist_name">{memberrow.USERNAME}</a>
                </div>
                <div class="userlist_alias">{memberrow.INTERESTS}</div>
                </div>

                <!-- Avatar -->
                <div class="userlist_avatar">
                    {memberrow.AVATAR_IMG}
                </div>

                <!-- Champs de profil -->
                <div class="userlist_infos">
                    <div class="userlist_visited">{memberrow.LASTVISIT}</div>
                    <div class="userlist_posts">{memberrow.POSTS} messages postés</div>
                    <div class="userlist_joined inscription">depuis le {memberrow.JOINED}</div>
                </div>

        </div>
        <!-- END memberrow -->
        <!-- Fin d'un profil -->

    </div>
    <!-- Fin liste des membres -->

    <!-- Pagination -->
    <center>
        <!-- BEGIN switch_pagination -->
        <span class="pagination">
            {PAGINATION}
        </span>
        <!-- END switch_pagination -->
    </center>

</div>