<div class="wrapped">
    <!-- Affichage d'un message simplifié -->
    <!-- BEGIN postrow -->
    <div class="panel {postrow.ROW_CLASS}{postrow.CURRENT_MSG}">

        <div>
            <!-- Sujet par - Auteur - le - date -->
            <div class="preview-author">{postrow.L_TOPIC_BY} {postrow.POSTER_NAME} ✧ {postrow.L_TOPIC_ON} {postrow.POST_DATE}</div>
        </div>

        <!-- Message -->
        <div class="content">{postrow.MESSAGE}</div>

    </div>
    <!-- END postrow -->

    <div class="pagination">
        {PM_PAGINATION}
    </div>
</div>

            