<!-- Affichage des sous forums (template : index_box) -->
{BOARD_INDEX}

<!----------------------------------------------->
<!-- LIEN DE NAVIGATION -------------->

<div class="nav_links_topics">

    <!-- Chaîne de lien : Catégorie > Forum > Sous-fo -->
    <span class="navigation_chain">
        {NAV_CAT_DESC}
    </span>
</div>
<div class="forum-page-desc">
<!-- Description du forum -->
<!-- BEGIN switch_forum_desc -->
<div class="forum-page_desc box2">
    {SINGLE_FORUM_DESC}
</div>
<!-- END switch_forum_desc -->

</div>

<!----------------------------------------------->
<!-- BARRE DE GESTION -------------->

<div class="postbutton">

    <!-- Boutons : nouveau, répondre, verrouillé -->
    <!-- BEGIN switch_user_authpost -->
    <a class="buttons" href="{U_POST_NEW_TOPIC}" accesskey="n" rel="nofollow">Nouveau sujet</a>
    <!-- END switch_user_authpost -->

    <!-- Pagination -->
<span class="right pagination page-topic">
    {PAGINATION}
</span>
</div>


<!----------------------------------------------->
<!-- LISTE DES SUJETS -------------->
<!--(template: topics_list_box) -->

<div class="container">
    <!-- Liste des sujets -->
    {TOPICS_LIST_BOX}
</div>

<!----------------------------------------------->
<!-- BARRE DE GESTION -------------->
<div class="postbutton">

    <!-- Boutons : nouveau, répondre, verrouillé -->
    <!-- BEGIN switch_user_authpost -->
    <a class="buttons" href="{U_POST_NEW_TOPIC}" accesskey="n" rel="nofollow">Nouveau sujet</a>
    <!-- END switch_user_authpost -->

    <!-- Pagination -->
<span class="right pagination page-topic">
    {PAGINATION}
</span>
</div>

<!-- Conteneur : utilisateurs et pagination -->
<div class="navigation_links">

    <!-- Utilisateurs parcourant ce forum -->
    <span id="users_here">
        {LOGGED_IN_USER_LIST}
    </span>
    <!-- Modification de la phrase "utilisateur parcourant ce forum" -->
    <script type="text/javascript">
        $("#users_here").html($("#users_here").html().replace("Utilisateurs parcourant actuellement ce forum",
            "Actuellement sur ce forum"));
    </script>

    <!-- OUTILS DE MODERATION ------------>
    <div id="moderation_forum_tools">
        {S_AUTH_LIST}
    </div>

</div>
<div class="nav_links_topics navbot">

    <!-- Chaîne de lien : Catégorie > Forum > Sous-fo -->
    <span class="navigation_chain">
        {NAV_CAT_DESC}
    </span>
</div>

<!-- Changement de texte du lien "modérer ce forum" -->
<script type="text/javascript">
    document.getElementById('moderation_forum_tools').innerHTML = document.getElementById('moderation_forum_tools')
        .innerHTML.replace(/modérer ce forum/, "Modérer les sujets du forum");
</script>
