<br />



<!----------------------------------------------->
<!-- LIENS DE NAVIGATION -------------->

<div class="nav_links_topics">

    <!-- Chaîne de lien : Catégorie > Forum > Sous-fo -->
    <span class="navigation_chain">
        {NAV_CAT_DESC}
    </span>

</div>

<!----------------------------------------------->
<!-- BARRE DE GESTION -------------->

<div class="postbutton">
    <div>
        <!-- Boutons : nouveau -->
        <!-- BEGIN switch_user_authpost -->
        <a class="buttons" href="{U_POST_NEW_TOPIC}" rel="nofollow" title="{T_POST_NEW_TOPIC}">nouveau</a>&nbsp;
        <!-- END switch_user_authpost -->

        <!-- Bouton : répondre -->
        <!-- BEGIN switch_user_authreply -->
        <a class="buttons" href="{U_POST_REPLY_TOPIC}" title="{T_POST_REPLY_TOPIC}">répondre</a>
        <!-- END switch_user_authreply -->
    </div>
    <!-- Pagination -->
    <span class="pagination right">
        {PAGINATION}
    </span>
</div>

<!----------------------------------------------->
<!-- MESSAGE -------------->


<!-- Contenenur des messages -->
<div class="container container-post">

    <!-- Titre du poste -->
    <div class="page-title-wrap">
        <h1 class="page-title-topic">{TOPIC_TITLE}</h1>
    </div>

    <!-- Sondage (template : viewtopic_poll_ballot /// viewtopic_poll_result) -->
    {POLL_DISPLAY}


    <!-- Affichage d'un message -->
    <!-- BEGIN postrow -->
    <!-- BEGIN displayed -->
    <div class="post_anchor" id="{postrow.displayed.U_POST_ID}"></div>
    <div class="post post_row post--{postrow.displayed.U_POST_ID}" id="p{postrow.displayed.U_POST_ID}">

        <!-- Colonne de profil -->
        <div class="post_profile" id="profile{postrow.displayed.U_POST_ID}">

            <div class="post_pseudo_rank">
                <center>
                    <!-- Pseudo -->
                    <div class="post_pseudo">{postrow.displayed.POSTER_NAME}</div>
                    <hr>
                    <!-- Rang -->
                    <div class="post_rank">
                        {postrow.displayed.POSTER_RANK_NEW} <!-- Textuel -->
                    </div>
                </center>
            </div>

            <div class="avatar_container">
                <!-- Avatar -->
                <div class="post_avatar">
                    {postrow.displayed.POSTER_AVATAR}
                </div>

                <div class="avatar_links">
                    <!-- Lien de contact -->
                    <div class="profil_contact">
                        <!-- Autre contact-->
                        <!-- BEGIN contact_field -->
                        {postrow.displayed.contact_field.CONTENT} <!-- Autre champs de contact -->
                        <!-- END contact_field -->
                        {postrow.displayed.PM_IMG} <!-- MP -->
                    </div>
                </div>
            </div>

            <div class="post_customfield">
                <div class="custom-icon"></div>
                <div class="custom-icon-hrp" style="display: none;"></div>
                <div class="tabs-wrap">
                    <div class="as-above">AS ABOVE</div>
                    <div class="so-below">SO BELOW</div>
                </div>
                <div class="custom-text">
                <div class="custom-name"></div>
                <div class="custom-rank"></div>
                <div class="custom-fc" style="display: none;">ft. <span class="faceclaim"></span></div>
                <div class="custom-pseudo" style="display: none;">joué·e par <span class="pseudo"></span></div>
                </div>
            </div>

                <div class="post_userinfo">

                    <!-- Champs de profil -->
                    <div class="tabcontent1" style="display: block;">
                    <div class="post_rewards">
                        <!-- Récompenses -->
                        <div {postrow.displayed.AWARDS_SHOW} id="list_awards">
                            {postrow.displayed.AWARDS}
                        </div>
                        <div class="award_more"></div>
                    </div>
                    <!-- BEGIN profile_field -->
                    <div class="user_field">
                        <!-- Label d'un champs de profil -->
                        <span class="field_label">{postrow.displayed.profile_field.LABEL}</span>

                        <!-- Contenu d'un champs de profil -->
                        <span class="field_content">{postrow.displayed.profile_field.CONTENT}</span>

                        <!-- Séparateur entre champs de profil -->
                        <span class="field_separator">{postrow.displayed.profile_field.SEPARATOR}</span>
                    </div>
                    <!-- END profile_field -->
                    <!-- Fin de champs de profil -->
                    </div>
                    <div class="tabcontent2" style="display: none;"></div>

                </div>
        </div>
        <!-- Fin colonne profil -->
        <div class="post_nav"></div>

        <div class="post_main_col">
            <!-- Conteneur informations du message-->
            <div class="post_details">

                <span class="post_date">
                    <!-- Date du message -->
                    <time>{postrow.displayed.POST_DATE_NEW}</time><span class="presence {postrow.displayed.ONLINE_IMG_NEW}">
                        &nbsp;✧&nbsp;En ligne
                    </span>
                </span>

                <div class="btn-anchor">
                    <!-- Lien d'ancre vers le message -->
                    <a href="{postrow.displayed.POST_URL}" title="Lien d'ancre vers le message"><i class="fa-solid fa-link"></i></a>
                </div>
                <!-- Boutons d'édition de message -->
                <ul class="profile-icons">
                    <li class="btn-quote">
                        <a href="{postrow.displayed.QUOTE_URL}" title="Répondre en citant">
                            <i class="fa-solid fa-quote-right"></i>
                        </a>
                    </li>
                    <li class="btn-edit" title="Éditer ce message">
                        <a href="{postrow.displayed.EDIT_URL}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </li>
                    <li class="btn-delete" title="Supprimer ce message">
                        <a href="{postrow.displayed.DELETE_URL}">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </li>
                    <li class="btn-ip" title="Voir l'addresse IP du posteur">
                        <a href="{postrow.displayed.IP_URL}">
                            <i class="fa-solid fa-location-dot"></i>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- Fin détails -->

            <!-- Contenu du message -->
            <div class="post_message postbody content">
                <!-- Conteneur du bouton like -->
                <!-- BEGIN switch_likes_active -->
                <div class="like_section">
                    <div class="like_list_section">
                        <!-- BEGIN switch_like_list -->
                        {postrow.displayed.switch_likes_active.switch_like_list.D_LIKE_LIST}
                        <!-- END switch_like_list -->

                        <!-- BEGIN switch_dislike_list -->
                        {postrow.displayed.switch_likes_active.switch_dislike_list.D_DISLIKE_LIST}
                        <!-- END switch_dislike_list -->
                    </div>

                    <div class="like_button_section">
                        <div class="like_button">

                            <!-- Bouton "j'aime" -->
                            <button class="rep-button {postrow.displayed.switch_likes_active.C_VOTE_LIKE}"
                                data-href="{postrow.displayed.switch_likes_active.U_VOTE_LIKE}"
                                data-href-rm="{postrow.displayed.switch_likes_active.U_VOTE_RM_LIKE}"
                                onclick="checkListDisplayBorder(this)">

                                <!-- Texte "j'aime" -->
                                <span class="like_text"><i class="fa-solid fa-heart"></i></span>
                                <!-- Compte des "j'aime" -->
                                {postrow.displayed.switch_likes_active.COUNT_VOTE_LIKE}

                            </button>
                        </div>

                        <div class="dislike_button">
                            <!-- BEGIN switch_dislike_button -->
                            <button class="rep-button {postrow.displayed.switch_likes_active.switch_dislike_button.C_VOTE_DISLIKE}"
                                data-href="{postrow.displayed.switch_likes_active.switch_dislike_button.U_VOTE_DISLIKE}"
                                data-href-rm="{postrow.displayed.switch_likes_active.switch_dislike_button.U_VOTE_RM_LIKE}"
                                onclick="checkListDisplayBorder(this)">

                                <span class="dislike_text"><i class="fa-solid fa-fire-flame-curved"></i></span>
                                {postrow.displayed.switch_likes_active.switch_dislike_button.COUNT_VOTE_DISLIKE}
                            </button>
                            <!-- END switch_dislike_button -->
                        </div>
                    </div>

                </div>
                <!-- END switch_likes_active -->
                <!-- Fin du bouton like -->

                <div class="clear"></div>
                <div class="post_message_content">{postrow.displayed.MESSAGE}</div>

                <!-- Signature -->
                <!-- BEGIN switch_signature -->
                <div class="signature_div" id="sig{postrow.displayed.U_POST_ID}">{postrow.displayed.SIGNATURE_NEW}</div>
                <!-- END switch_signature -->

            </div>
            <!-- Fin du contenu du message -->

        </div>
    </div>

    <!-- END displayed -->
    <!-- END postrow -->
    <!-- Fin affichage d'un message -->

</div>
<!-- Fin des messages -->


<!----------------------------------------------->
<!-- BARRE DE GESTION -------------->


<div class="links_bar watch_bar">
    <!-- Lien "surveiller le sujet" -->
    <!-- BEGIN switch_user_logged_in -->
    <!-- BEGIN watchtopic -->
    <span>{S_WATCH_TOPIC}</span>
    <!-- END watchtopic -->
    <!-- END switch_user_logged_in -->

    &nbsp;✧&nbsp;

    <!-- BEGIN switch_plus_menu -->
    <span>
        <a href="{U_FAVOURITE_JS_PLUS_MENU}">Ajouter à ses favoris</a>
    </span>
    <!-- END switch_plus_menu -->
</div>


<!----------------------------------------------->
<!-- REPONSE RAPIDE -------------->

<div class="container quickreply" id="quickreply_content">
    <!-- BEGIN switch_user_logged_in -->
    {QUICK_REPLY_FORM}
    <!-- END switch_user_logged_in -->
</div>


<!----------------------------------------------->
<!-- BARRE DE GESTION -------------->


<div class="postbutton">
    <div>
        <!-- Boutons : nouveau -->
        <!-- BEGIN switch_user_authpost -->
        <a class="buttons" href="{U_POST_NEW_TOPIC}" rel="nofollow" title="{T_POST_NEW_TOPIC}">nouveau</a>&nbsp;
        <!-- END switch_user_authpost -->

        <!-- Bouton : répondre -->
        <!-- BEGIN switch_user_authreply -->
        <a class="buttons" href="{U_POST_REPLY_TOPIC}" title="{T_POST_REPLY_TOPIC}">répondre</a>
        <!-- END switch_user_authreply -->
    </div>
    <!-- Pagination -->
    <!-- BEGIN topicpagination -->
    <span class="pagination right">{PAGINATION}</span>
    <!-- END topicpagination -->

</div>

<br />


<!----------------------------------------------->
<!-- BOUTONS DE MODERATION -------------->

<!-- BEGIN viewtopic_bottom -->
<form method="get" action="{S_FORM_MOD_ACTION}" class="mod-topic">
    <fieldset class="quickmod">
        <input type="hidden" name="t" value="{TOPIC_ID}" />

        <!-- <input type="hidden" name="sid" value="{S_SID}" /> -->
        <input type="hidden" name="{SECURE_ID_NAME}" value="{SECURE_ID_VALUE}" />
        <label>{L_MOD_TOOLS}:&nbsp;</label>
        {S_SELECT_MOD}&nbsp;
        <input class="button2" type="submit" value="{L_GO}" />
    </fieldset>
    <div class="mod-icons">{S_TOPIC_ADMIN}</div>
</form>
<!-- END viewtopic_bottom -->

<div class="nav_links_topics navbot">

    <!-- Chaîne de lien : Catégorie > Forum > Sous-fo -->
    <span class="navigation_chain">
        {NAV_CAT_DESC}
    </span>
</div>

<!-- Script image recadré -->
<!-- BEGIN switch_image_resize -->
<script type="text/javascript">
    //<![CDATA[
    $(resize_images({
        'selector': '.postbody .content',
        'max_width': {
            switch_image_resize.IMG_RESIZE_WIDTH
        },
        'max_height': {
            switch_image_resize.IMG_RESIZE_HEIGHT
        }
    }));
    //]]>

</script>
<!-- END switch_image_resize -->

<div class="clear"></div>

<!-- BEGIN switch_plus_menu -->
<script type="text/javascript">
    //<![CDATA[
    var multiquote_img_off = '{JS_MULTIQUOTE_IMG_OFF}',
        multiquote_img_on = '{JS_MULTIQUOTE_IMG_ON}';

</script>
<!-- END switch_plus_menu -->
<script type="text/javascript">
    var hiddenMsgLabel = {
        visible: '{JS_HIDE_HIDDEN_MESSAGE}',
        hidden: '{JS_SHOW_HIDDEN_MESSAGE}'
    };
    showHiddenMessage = function (id) {
        try {
            var regId = parseInt(id, 10);
            if (isNaN(regId)) {
                regId = 0;
            }

            if (regId > 0) {
                $('.post--' + id).toggle(0, function () {
                    if ($(this).is(":visible")) {
                        $('#hidden-title--' + id).html(hiddenMsgLabel.visible);
                    } else {
                        $('#hidden-title--' + id).html(hiddenMsgLabel.hidden);
                    }
                });
            }
        } catch (e) { }

        return false;
    };

    //]]>

</script>